<!DOCTYPE html>
<html>
<head>
	<title>Economical Bowler</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/highcharts-more.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div class="container1" id="container1"></div>
	<div class="btn">
		<button id="plain">Plain</button>
		<button id="inverted">Inverted</button>
		<button id="polar">Polar</button>
	</div>
	<div class="home-btn">
        <button id="home" class="home"> <a id="home" class="home" href="/">Home</a></button>
    </div>
</body>
<script type="text/javascript">
	let economicalBowler = <%-data%>;
	let bowlerName = [];
	let bowlerEconomicRate = [];
	for(let i of economicalBowler){
		bowlerName.push(i.name);
		let x = parseFloat(i.y.toFixed(2));
		bowlerEconomicRate.push(x);
	}
	console.log(bowlerEconomicRate);
	var chart = Highcharts.chart('container1', {

	    title: {
	        text: 'Top 10 Economical Bowler in the year 2015'
	    },

	    subtitle: {
	        text: 'Economical Bowler list'
	    },

	    xAxis: {
	        categories: bowlerName,
	        title: {
         	   text: 'List of Bowler'
        	}
	    },
	    yAxis: {
	        title: {
	            text: 'Economical bowler rate'
	        }
	    },
	    series: [{
	        type: 'column',
	        colorByPoint: true,
	        data: bowlerEconomicRate,
	        showInLegend: false
	    }]

	});


	$('#plain').click(function () {
	    chart.update({
	        chart: {
	            inverted: false,
	            polar: false
	        },
	        subtitle: {
	            text: 'Plain'
	        }
	    });
	});

	$('#inverted').click(function () {
	    chart.update({
	        chart: {
	            inverted: true,
	            polar: false
	        },
	        subtitle: {
	            text: 'Inverted'
	        }
	    });
	});

	$('#polar').click(function () {
	    chart.update({
	        chart: {
	            inverted: false,
	            polar: true
	        },
	        subtitle: {
	            text: 'Polar'
	        }
	    });
	});

</script>
</html>