<!DOCTYPE html>
<html>
<head>
	<title>Extra run by each team</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/data.js"></script>
	<script src="https://code.highcharts.com/modules/drilldown.js"></script>
	<link rel="stylesheet" type="text/css" href="style.css">
    <!-- <style>
    body{
        background: #d9d9d9;
    }
	#container1 {
		min-width: 310px;
		height: 400px;
		width: 80%;
		margin: 0 auto
	}
	</style> -->
</head>
<body>
 	<div class="container1" id="container1"></div>
    <div class="home-btn">
        <button id="home" class="home"> <a id="home" class="home" href="/">Home</a></button>
    </div>
</body>
<script type="text/javascript">
	let arr = <%-data%>;
    Highcharts.chart('container1', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Extra Run by each team in 2016'
    },
    subtitle: {
        text: ''
    },
    xAxis: {
        type: 'category',
        title: {
            text: 'Team Name'
        }
    },
    yAxis: {
        title: {
            text: 'Extra run '
        }

    },
    legend: {
        enabled: false
    },
    plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
            }
        }
    },

    "series": [
        {
            "name": "Run",
            "colorByPoint": true,
            "data": arr
        }
    ]
});
</script>
</html>