<!DOCTYPE html>
<html>
<head>
	<title>IPL Status</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
		body{
			background-image: url("2.jpg");
			background-repeat: no-repeat;
		    background-size: cover;
		}
		.main-container{
			padding: 30px 0 30px 70px;
			width: 70%;
			margin: 0 auto;
			border: 2px solid black;
		}
		.main-container a{
			line-height: 30px;
			text-decoration: none;
			color: #cc5200;
			font-size: 16px;
		}
	</style>
</head>
<body>
	<section class="main-container">
		<a href="first">No Of Match Per Year</a><br>	
		<a href="second">No of all winner in each year</a><br>	
		<a href="third">Extra run in 2016</a>	<br>
		<a href="fourth">Top Economical Bowler in 2015</a><br>	
		<a href="fifth">Top Strike rate Batsman in 2017</a>	
	</section>
</body>
</html>