<!DOCTYPE html>
<html>
<head>
	<title>No Of Matches High Chart</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>

	<style>
    body{
        background: #d9d9d9;
    }
	#container1 {
		min-width: 310px;
		max-width: 800px;
		height: 400px;
		margin: 0 auto;
        /*background: transparent;*/
	}  
	</style>
</head>
<body>
    <!-- <p><%= data%></p> -->
	<div class="container1" id="container1">
	</div>
</body>
<script type="text/javascript">
    const data = <%-data%>;
    // console.log(data);
    let listOfYear = [];
    let listOfNoOfMatches = [];
    console.log(data)
    for(i of data){
        listOfYear.push(i.name);
        listOfNoOfMatches.push(i.y);
    }
    Highcharts.chart('container1', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Number of matches per year'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            categories: listOfYear,
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Number of matches'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: 'IPL Status',
            data: listOfNoOfMatches
        }]
    });
</script>
</html>