<!DOCTYPE html>
<html>
<head>
	<title>No Of Winner per year</title>
	<meta charset="utf-8">
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	<script src="https://code.highcharts.com/modules/export-data.js"></script>

	<style>
	body{
        background: #d9d9d9;
    }
	#container1 {
		height: 600px;
		margin: 0 auto
	}
	</style>
</head>
<body>
	<div class="container1" id="container1">
	
	</div>
</body>
<script type="text/javascript">
let winnerPerYear = <%-data%>;
	let allSeason = [];
	for(i of winnerPerYear){
		for(j of i.years){
			if(!allSeason.includes(j)){
				allSeason.push(j);
			}
		}
	}
	allSeason.sort();
	let mainData = [];
	for(i in winnerPerYear){
		if(winnerPerYear[i]._id !== ""){
		let arr = [];
		let k =0;
		for(j in allSeason){
			if(allSeason[j] === winnerPerYear[i].years[k]){
				arr[j] = winnerPerYear[i].number[k];
				k++;
			}
			else{
				arr[j] = 0;
			}
		}

		let obj = {
			name: winnerPerYear[i]._id,
			data: arr
		}
		mainData.push(obj);
		obj = {}; 
	}
}
	console.log(mainData);
Highcharts.chart('container1', {
    chart: {
        type: 'bar'
    },
    title: {
        text: 'Stacked bar chart Of IPL data'
    },
    xAxis: {
        categories: allSeason
    },
    yAxis: {
        min: 0,
        title: {
            text: 'IPL all seasons'
        }
    },
    legend: {
        reversed: true
    },
    plotOptions: {
        series: {
            stacking: 'normal'
        }
    },
    series: mainData
});

	
</script>
</html>

